<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title><%= current_page.data.title || "Ohjelmointikurssi" %></title>

    <%= partial 'partials/styles' %>
    <% if build? %>
      <%= partial 'partials/analytics' %>
    <% end %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'partials/navigation' %>
    <div id='content-container' <% if current_page.data.exercise_page %>class='exercise-page'<%end%> style='counter-reset: h1counter <%= current_page.data.order %>'>
      <%= partial 'partials/browser_warning' %>
      <%= yield %>
    </div>
    <footer>
      <div class="footer-content">
      </div>
      <div class="footer-bottom">
        Tämän sisällön ovat tehneet mahdolliseksi <a href="https://www.cs.helsinki.fi/">Helsingin yliopiston Tietojenkäsittelytieteen laitos</a>, <a href="http://100-vuotissaatio.teknologiateollisuus.fi/">Teknologiateollisuuden satavuotissäätiö</a> ja <a href="https://www.cs.helsinki.fi/en/rage/">Agile Education Research-tutkimusryhmä RAGE</a>.
      </div>
    </footer>

    <% if current_page.data[:exercise_page] %>
      <%= partial 'partials/environment_dependencies' %>
      <script>
        $(document).ready(function() {
          hljs.initHighlightingOnLoad();
          TMCWebClient.initialize();
        });
      </script>

    <% end %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/1.0.0/bowser.min.js"></script>
    <%= javascript_include_tag :all %>
  </body>
</html>
