<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title><%= current_page.data.title || "Ohjelmoitikurssi" %></title>

    <link rel='stylesheet' href='//ohjelmointikurssi.github.io/cdn/tmc-web-client.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/color-brewer.min.css">
    <%= stylesheet_link_tag :site %>
  </head>

  <body class="<%= page_classes %>">
    <nav>
      <%= nav_link_to 'Etusivu', 'index.html' %>
      <%= nav_link_to 'Tulostaminen', 'tulostaminen.html' %>
      <%= nav_link_to 'Muuttujat', 'muuttujat.html' %>
      <%= nav_link_to 'Listat', 'listat.html' %>
      <%= nav_link_to 'Funktiot', 'funktiot.html' %>
      <%= nav_link_to 'Ehdot', 'ehdot.html' %>
      <%= nav_link_to 'Piirtäminen', 'piirtaminen.html' %>
      <%= nav_link_to 'Toisto', 'toisto.html' %>
      <%= nav_link_to 'Matopeli', 'matopeli.html' %>
    </nav>
    <div id='content-container' <% if current_page.data.exercise_page %>class='exercise-page'<%end%> style='counter-reset: h1counter <%= current_page.data.order %>'>
      <div id="warning-container">
        <div class="browser-warning">
          <div class="warning-title"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Ohjelmointikurssi ei toimi kunnolla selaimessasi.</div>
          <div>
            Ohjelmointikurssi ei valitettavasti toimi Internet Explorer -selailemella. Suosittelemme että teet kurssia joko uusimmalla Chromella tai uusimalla Firefoxilla.
          </div>
        </div>
      </div>
      <%= yield %>
    </div>

    <footer>
      <div class="footer-content">
      </div>
      <div class="footer-bottom">
        Tämän sisällön ovat tehneet mahdolliseksi <a href="https://www.cs.helsinki.fi/">Helsingin yliopiston Tietojenkäsittelytieteen laitos</a>, <a href="http://100-vuotissaatio.teknologiateollisuus.fi/">Teknologiateollisuuden satavuotissäätiö</a> ja <a href="https://www.cs.helsinki.fi/en/rage/">Agile Education Research-tutkimusryhmä RAGE</a>.
      </div>
    </footer>

    <% if current_page.data[:exercise_page] %>
      <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bowser/1.0.0/bowser.min.js"></script>
      <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
      <script src='//cdnjs.cloudflare.com/ajax/libs/jszip/2.2.2/jszip.js'></script>
      <script src='//stuk.github.io/jszip-utils/dist/jszip-utils.js'></script>
      <script src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.runtime.min.js'></script>
      <script src='//cdnjs.cloudflare.com/ajax/libs/ace/1.2.2/ace.js'></script>
      <script src='//cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js'></script>
      <script src='//cdnjs.cloudflare.com/ajax/libs/phaser/2.4.3/phaser.min.js'></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
      <script src='//ohjelmointikurssi.github.io/cdn/tmc-web-client.min.js'></script>

      <script>
        $(document).ready(function() {
          hljs.initHighlightingOnLoad();
          TMCWebClient.initialize();
        });
      </script>
    <% end %>
    <%= javascript_include_tag :all %>
  </body>
</html>
