<nav>
  <%= nav_link_to 'Etusivu', 'index.html' %>
  <%= nav_link_to 'Tulostaminen', 'tulostaminen.html' %>
  <%= nav_link_to 'Muuttujat', 'muuttujat.html' %>
  <%= nav_link_to 'Ehdot', 'ehdot.html' %>
  <%= nav_link_to 'Listat', 'listat.html' %>
  <%= nav_link_to 'Funktiot', 'funktiot.html' %>
  <%= nav_link_to 'Piirtäminen', 'piirtaminen.html' %>
  <%= nav_link_to 'Toisto', 'toisto.html' %>
  <%= nav_link_to 'Matopeli', 'matopeli.html' %>
</nav>
